:root {
    --font-responsive: 0.390625vw;
    --width-sidebar: 400px;
    --width-slider: 60px;
    --height-navbar: 7.5vh;
    --left-sidebar: calc(var(--width-sidebar)*-1);
    --opacity-scrim: 0.85;
    --color-primary: #e4002b;
    --transition-sidebar: 0.3s;
    --transition-slider: 0.3s;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    /* height: 100%; */
    font-family: Helvetica, sans-serif;
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0;
}

.stopScrolling {
    overflow: hidden;
}

.gallery{
    /* padding: 5em 1em 0 1.5em; */
    margin: 10px 30px;
}
.gallery .searchResult, .gallery-top{
    /* padding: 5em 1em 0 1.5em; */
    margin-left: 1rem;
    margin-right:1rem;
}

.searchResult{
    margin: 0 auto;
}

.galleryDark{
    z-index: 2;
    display: block; 
    visibility: hidden; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* padding-top: 100px;  */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    /* overflow: auto;  */
    background-color: rgba(0,0,0, var(--opacity-scrim)); /* Black w/ opacity */
}   

.gallery-top{
    display:flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: pink; */
}

.gallery-top h3 {
    margin: 10px 0;
    font-size: 3rem;
}

#container {
    display: grid;
    
    grid-template-columns: 
    [one] 25% 
    [two] 25%
    [three] 25%
    [four] 25%;
    
    /*SUPER IMPORTANT*/
    /*Aligns items at the start of the cross-axis*/
    /* align-items: flex-start;  */
    flex-wrap: wrap;
}

.artPiece {
    border: 2px solid rgb(60, 58, 58);
    border-radius: 12px;
    padding: 1em;
    margin: 0.5em;
}

.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%; /* Fills the width of artPiece*/
    /* max-height: 300px; */
}

.myImg:hover {
    opacity: 0.7;
}

.artHeader {
    font-size: 2.5rem;
    word-wrap: normal;
}

.medium{
    font-size: 1.3rem;
    font-style: italic;
    word-wrap: normal;
} 

.artist {
    font-size: 1.6rem;
    word-wrap: normal;
}