:root {
    --font-responsive: 0.390625vw;
}

.topbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 9vw;
    background-color: #e4002b;

    z-index: 1;
    padding: 5px 0;
}

.topbar * {
    background: blue;
    margin: 10px;
}

.webName {
    color: white;
    font-family: "Playfair Display";
    /* font-size: large; */
    font-size: calc(28px + var(--font-responsive));
    font-weight: bold;

    text-wrap: nowrap;
}

.searchbar {
    display: flex;
    align-items: center;
}

.searchbar * {
    margin: 0;
}

#myInput {
    min-height: 30px;
    min-width: 200px;
}

.iconButton {
    display: flex;
    border: none;
    background-color: orange;
    color: white;
    align-items: center;
    justify-content: center;
    padding: 10px 15px;
    margin: 0;
}

.glyphicon {
    font-size: calc(26px + var(--font-responsive));
    margin: 0;
}