:root {
    --transition-sidebar: 0.3s;
    --size-sidebar: 400px;
    --left-sidebar: calc(var(--size-sidebar)*-1);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

.sidebar{
    display: block;
    overflow: auto;
    height: 90%;
    width: fit-content;
    margin: 5.5em 0 0 0;
    background-color: #f2f2f2;

    z-index: 2;
    position: fixed;
    left: var(--left-sidebar);
}

.sidebar h2{
    margin-left: 4rem;
}

.sidebarButton{
    display:block;
    width:100%;
    text-decoration: none;
    border-bottom: 1px solid #ccc!important;
    padding: 1em 3em;
    cursor: pointer;
    color:black;
}

.active, .sidebarButton:hover{
    text-decoration: none;
    background-color: #e4002b;
    color: white;
}

.animate-right{
    animation:animate-right var(--transition-sidebar);
    left: 0px;
    display: block;
}

.animate-left{
    animation:animateleft var(--transition-sidebar);
    left:var(--left-sidebar);
    
}

@keyframes animate-right{
    from{left:var(--left-sidebar)} 
    to{left:0px;}
}

@keyframes animateleft{
    from{left:0px;} 
    to{left:var(--left-sidebar);}
}

.animate-fadeIn {
    animation: animate-fadeIn var(--transition-sidebar); 
    animation-fill-mode: forwards;
}

.animate-fadeOut{
    animation: animate-fadeOut var(--transition-sidebar);
    animation-fill-mode: forwards;
}

@keyframes animate-fadeIn {
    0% { opacity: 0; visibility: hidden;}
    100% { opacity: 1; visibility: visible;}
}

@keyframes animate-fadeOut {
    0% { opacity: 1; visibility: visible;}
    100% { opacity: 0; visibility: hidden;}
}